{"dingtalkToken":"","featurePrefix":"feature/","helloToken":"","hotfixPrefix":"hotfix/","masterBranch":"master","pattern":"(?:fix|chore|docs|feat|refactor|style|test)(?:\\(.*\\))?\\s+(?:XM\\d{7}-\\d+)(?:\\s*)(?:\\S+)(?:[\\n\\r]{2,})(?:[\\s\\S]*)","patternExplain":"?????https://blog.csdn.net/xiaolyuh123/article/details/129042182\n?????\n\nfeat(web) XM2102301-30 ??????\n\n???\nhttp://jira.xxx.com/browse/XM2607301-30\n???\n1. ??idea??http?????postman\n2. ??????????\n???\n1. ??PC?????????","releaseBranch":"preprod","tagPrefix":"","testBranch":"develop"}
